@import "../icon/all.css";

/*<------------------------ Variables ------------------------>*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #fff;
$color-gray: #f6f6f6;
$color-gray-font: #353535;
/*<------------------------ Fonctions ------------------------>*/
@keyframes card-up {
    0% {
        transform: translateY(1em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/*<------------------------ Mixins ------------------------>*/
@mixin main-heading-size {
    font-size: 1.5em;
    font-weight: 700;
}

@mixin content-padding ($top: 2em, $bottom: 2em) {
    padding: $top 1em $bottom 1em;
}

@mixin main-box-shadow ($per: 5%) {
    box-shadow: 0 7px 7px darken($color-gray, $per);
}

@mixin button($width: 11.5em) {
    color: $color-white;
    font-size: 1em;
    font-weight: 300;
    background: linear-gradient($color-secondary, $color-primary);
    border: none;
    width: $width;
    height: 3em;
    border-radius: 1.5em;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*<------------------------ Base ------------------------>*/
/*--- police ---*/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*<------------------------ Composant ------------------------>*/
/*--- bouton pour revenir en arrière ---*/

/*button*/
.btn {
    @include button;
    @include main-box-shadow(15%);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*heart*/
.heart {
    position: relative;
    font-size: 1.5em;
    
    & .far {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        z-index: 2;
        &:hover {
            opacity: 0;
            transition: opacity 800ms ease-in-out;

            & + .fas {
                opacity: 1;
                transition: opacity 800ms ease-in-out;
            }
        }
    }

    & .fas {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        background: linear-gradient(to bottom, $color-primary 0%,$color-secondary 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color:transparent;
    }
}

/*bouton pour revenir en arrière*/
.back {
    & i {
        font-size: 1.2em;
        color: black;
    }
}


/*<------------------------ layout ------------------------>*/
body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    min-width: 375px;
    margin: auto;
}

header {
    display: flex;
    position: relative;
    width: 100%;
    height: 4em;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: $color-white;
    
    & .back {
        position: absolute;
        left: 1.5em;
    }
}

.logo {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
}

.main-img {
    position: relative;
    height: 16em;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    
    & img {
        position: absolute;
        left: -2em;
        height: auto;
        width: 110%;
    }
}
.block_page {
    background-color: $color-gray;
}
.container-menu {
    @include content-padding(0.5em, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    top: -2em;
    z-index: 2;
    background-color: $color-gray;
    border-radius: 2em 2em 0 0;
    & h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.8em;
        font-weight: 300;
    }

    & .heart {
        position: absolute;
        top: 1.5em;
        right: 2.5em;
    }

    & h2 {
        position: relative;
        font-size: 1em;
        font-weight: 400;
        margin-bottom: 1.5em;

        & > div {
            position: absolute;
            top: 1.45em;
            width: 2.5em;
            height: 0.2em;
            background-color: $color-tertiary;
        }
    }

    & .menu {
        &__card {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            background-color: $color-white;
            width: 100%;
            height: 4.5em;
            border-radius: 1.3em 1.3em;
            margin: 0 0 1em 0;
            @include main-box-shadow;
            overflow: hidden;
            opacity: 0;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation: card-up 600ms 300ms*$i;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
    
            &__text {
                margin: 0 1.5em 0 0.8em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                
                & h3 {
                    margin: 0 0 0.5em 0;
                    font-size: 1.1em;
                    font-weight: 600;
                    @include ellipsis;
                }
    
                & div { 
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9em;
    
                    & span:nth-child(1) {
                        @include ellipsis;
                    }
                }
            }
            &__add {
                position: absolute;
                top: 0;
                right: -3.8em;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3.8em;
                height: 100%;
                background-color: $color-tertiary;

                & > i {
                    color: $color-white;
                    font-size: 1.2em;
                }
            }

            :hover {
                & + .menu__card__add {
                    transform: translateX(-3.8em);
                    transition: all 600ms;
                    & > i {
                        transform: rotate(360deg);
                        transition: all 400ms 200ms;
                    }
                }
            }

            :not(:hover) {
                & + .menu__card__add {
                    transform: translateX(3.8em);
                    transition: all 600ms;
                }
            }
        }
    }

    & .btn {
        align-self: center;
        margin: 2em 0 2em 0;
    }
}

footer {
    @include content-padding(0.5em, 1em);
    background-color: darken($color-gray, 75.5%);
    color: $color-white;
    & h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.1em;
        font-weight: 100;
    }
    & ul {
        padding: 0;
        list-style: none;
        font-size: 0.95em;

        & li {
            margin-bottom: 0.4em;

            & i {
                font-size: 0.7em;
                margin-right: 0.3em;
                width: 1.5em;
            }
        }
    }
}




/*<------------------------ pages ------------------------>*/

/*-------- page_acceuil.html --------*/
/*--- loading ---*/
.loading {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    opacity: 0;
    
    &__icon {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        width: 280px;
        height: 280px;
    }

    &__block {
        width: 130px;
        height: 130px;
        background-color: $color-primary;
    }
}

.localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darken($color-gray, 4%);
    box-shadow: 0 3px 2px 0 darken($color-gray, 10%) inset;
    height: 3em;
    font-weight: 600;
    color: $color-gray-font;

    & i {
        margin-right: 1em;
    }
}

.presentation {
    background-color: $color-gray;
    text-align: center;
    & h1 {
        @include main-heading-size;
        margin: 1em 2em 0 2em;
    }
    padding: 1em 0 1em 0;

    & p {
        margin: 1em;
        font-size: 1.1em;
        color: $color-gray-font;
    }

    & .btn {
        @include button(14em);
    }
}

.container-main {    
    & h2 {
        @include main-heading-size;
    }
}

.fonctionnement {
    display: flex;
    flex-flow: row wrap;
    @include content-padding;

    &__card {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        background-color: $color-gray;
        width: 95%;
        height: 4.5em;
        border-radius: 1.3em 1.3em;
        margin: 0 0 1.2em 1em;
        @include main-box-shadow;
        &__num {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -12px;
            width: 23px;
            height: 23px;
            background-color: $color-primary;
            color: $color-white;
            font-size: 0.8em;
            border-radius: 12.5px;
        }

        & i {
            margin: 0 1.4em 0 1.8em;
            font-size: 1.2em;
            color: darken($color-gray, 44%);
        }
        & h3 {
            font-size: 1em;
        }
    }
}

.resto {
    background-color: $color-gray;
    @include content-padding;

    &__card {
        max-width: 343px;
        height: 16em;
        background-color: $color-white;
        @include main-box-shadow;
        border-radius: 1em 1em;
        overflow: hidden;

        margin-bottom: 1.2em;
        &__img {
            position: relative;
            display: flex;
            align-items: center;
            overflow: hidden;
            height: 11em;
            & img {
                width: 100%;
                height: auto;
                margin-bottom: 3.5em;
            }
        }

        &__new {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 1em;
            right: 1em;
            width: 5.5em;
            height: 2em;
            background-color: $color-tertiary;
            color: darken($color-tertiary, 40%);
            font-size: 0.9em;
            font-weight: 500;
            border-radius: 2px 2px;
        }

        &__text {
            position: relative;
            margin-left: 0.8em;
            & h3 {
                font-size: 1.1em;
                font-weight: 700;
                margin: 1em 0 0.3em 0;
            }

            & p {
                margin: 0 0 1em 0;
            }

            & .heart {
                position: absolute; 
                top: 0.4em;
                right: 2em;
            }
        }
        
    }
}

