@import "./Utils/variables";
@import "./Utils/fonctions";
@import "./Utils/mixins";
@import "./Base/base";
@import "./Components/buttons";
@import "./Components/heart";
@import "./Layout/header";
@import "./Layout/container-menu";
@import "./Layout/footer";
@import "./Pages/acceuil-content";
@import "./Pages/loading";
@import "./Pages/localisation";
@import "./Pages/menu-img";
@import "./Pages/_presentation";



body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    min-width: 375px;
    margin: auto;
}

a {
    text-decoration :none;
}

.block_page {
    background-color: $color-gray;
}

.container-main {    
    & h2 {
        @include main-heading-size;
    }
}



