.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: $color-white;
    opacity: 1;
    z-index: 99;
    animation: loading-end 1000ms 2000ms ease-in-out forwards;
    
    &__icon {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-between;
        width: 20vh;
        height: 20vh;
        
    }

    &__block {
        width: 45%;
        height: 45%;
        background-color: $color-primary;
        opacity: 0.5;

        &:nth-child(3) {
            order: 4;
        }
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation: loading 1000ms 250ms*$i ease-in-out infinite;
            }
        }
    }
}