@keyframes card-up {
    0% {
        transform: translateY(1em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes loading-end {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    100% {
        z-index: -99;
        opacity: 0;
    }
}